.sidebar {
  width: 100%;
  height: 100%;
  max-width: 240px;
  padding-right: 16px;
  background-color: var(--background-secondary);
  position: fixed;
  margin-top: var(--header-height);
}

body[mini-sidebar-visible] .large-sidebar {
  display: none;
}

.sidebar .material-icons,
.sidebar .material-icons-outlined,
.sidebar .user-avatar {
  margin-right: 24px;
}

.sidebar nav .icon-button {
  padding: 0 24px;
}

.sidebar nav a:hover {
  background-color: var(--action-hover);
}

.sidebar nav ul {
  border-bottom: 1px solid var(--action-hover);
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidebar nav ul h3 {
  text-transform: uppercase;
  padding: 8px;
  color: var(--text-secondary);
}

.mini-sidebar {
  max-width: var(--mini-sidebar-width);
  padding: 0;
  display: none;
}

body[mini-sidebar-visible] .mini-sidebar {
  display: block;
}

.mini-sidebar nav ul {
  border-bottom: none;
}

.mini-sidebar .material-icons,
.mini-sidebar .material-icons-outlined {
  margin: 0px;
  margin-bottom: 6px;
}

.mini-sidebar nav .icon-button {
  flex-direction: column;
  padding: 8px 0 14px;
}

.mini-sidebar nav .icon-button .item-title {
  font-size: 1rem;
}
